.footer {
    background: #1a1a1a;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    position: relative;
    bottom: 0; /* Lo posiciona en la parte inferior */
    width: 100%; /* Asegura que ocupe todo el ancho */
    z-index: 1000; /* Asegura que esté por encima de otros elementos */
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}